

body {
  margin: 0;

}


.login-class {
        height: 100vh!important;
        display: flex!important;
        justify-content: center!important;
        align-items: center!important;
        background-color: #f5f5f5!important;
}

.card-actions {
        display: flex!important;
        justify-content: flex-end!important
}

.job-card {
        width: 100%!important;
        display: flex;
        flex-direction: column;
}
